/* main.css */

.app-main {
    padding: 20px;
    }
    
    .app-main button {
    margin: 10px;
    padding: 5px 10px;
    font-size: 1em;
    }
    
    .app-main ul {
    list-style: none;
    padding: 0;
    }
    
    .app-main li {
    margin: 5px 0;
    }